body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
  font-family: 'Convergence';
  font-size: 35px;
  text-align: left;
  letter-spacing: -1px;
  margin: 12px 12px;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}

h3{
  margin:8px 0;
}

h4{
  margin:6px 0;
}

a{
  color: #5588bb;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
}
p.centered{
  text-align:center;
}
#header, #body{
  width:800px;
  margin:0 auto;
}
#body{
  margin:20px auto;
}

#header a{
  color:#000;
}
#header a:hover{
  text-decoration:none;
}

.row{
  margin:24px 0;
}

.btn{
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  margin:0 2px;
  border-radius:3px;
  border-top:#4c82b7 solid 1px;
  border-left:#4c82b7 solid 1px;
  border-bottom:#3e6d9c solid 1px;
  border-right:#3e6d9c solid 1px;
  background:#4477aa;
  background-image: linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -o-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);

  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.5, rgb(59,104,149)),
          color-stop(1, rgb(68,119,170))
  );
}

.popin{
  background:#fff;
  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;
}

ul.gallery{
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
ul.gallery li{
  font-family:'Droid Sans';
  display:inline-block;
  width:30%;
  background:#fff;
  padding:10px 8px;
  margin:4px 1px;
  border-radius:3px;
  border:solid 1px #ddd;
}
ul.gallery li:hover{
  background:#f3f3f3;
}
ul.gallery li a{
  display:block;
}
ul.gallery li h5{
  font-weight:normal;
  margin:0;
  font-size:16px;
}

#map,
#panorama {
  height:500px;
  width:100%;
  background:#6699cc;
}

#sponsors {
  font-size: 12px;
  text-align: center;
  padding: 4px 6px;
}

#sponsors img {
  height: 40px;
  margin: 4px;
}

code {
  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
  font-weight: bold;
}

#left-autohide {
  background-color: white;
}

#rotasearch-descricao{
  max-width:500px;
}

#novaRotaForm .modal-dialog{
  margin-top: 20%;
}

#novaRotaForm input#nomeRota{
  width: 100%;
}


input[type=range]{
  -webkit-appearance: none;
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  /*width: 300px;*/
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 300px;*/
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  /*width: 300px;*/
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

input[type=range]::-ms-track {
  /*width: 300px;*/
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

ul#gmaps_context_menu,ul#gmaps_context_menu ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

ul#gmaps_context_menu li
{
  margin:3px;
  padding: 3px;
}

ul#gmaps_context_menu li:hover
{
  text-decoration: none;
  background-color: #2b542c;
  color:whitesmoke;
}

ul#gmaps_context_menu li a{
  color:inherit;
  text-decoration:none;
}

ul#gmaps_context_menu>li label{
}

ul#gmaps_context_menu>li input{
  color:black;
}



ul#gmaps_context_menu a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

ul#gmaps_context_menu li
{
  position:relative;
//  float:left;
// margin:0;
//padding:0
}

ul#gmaps_context_menu ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

ul#gmaps_context_menu ul>li
{
  /* float:none; */
  width:200px;
  padding: 3px 15px;
}

ul#gmaps_context_menu ul a
{
  line-height:120%;
  padding:10px 15px
}

ul#gmaps_context_menu li:hover ul
{
  display:block;
  left:+50px;
}

#icon-menu
{
  display:block;
  position: fixed;
  left: calc(50% - 100px);
  top:0px;
  height: 100%;
  overflow-y: scroll;
  z-index: 10001;
  background:#fff;
  opacity:1;
  list-style:none;
  margin:0;
  padding:0;
}

#icon-menu li
{
  margin:3px;
  padding: 3px;
}

#icon-menu li:hover
{
  text-decoration: none;
  background-color: #2b542c;
  color:whitesmoke;
}

#icon-menu>li
{
  /* float:none; */
  width:200px;
  padding: 3px 15px;

}

#disableBox{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
  top: 0px;
  opacity: 0.7;
}

.rota-search .form-group{
  display: inline-block;
}

.rota-search .form-group input,.rota-search .form-group button{
  height: 35px;
}
.rota-search .form-group button{
  padding: 0px 7px;
}

.rota-search .form-group label[for="rotasearch-descricao"]{
  display:none;
}

.rota-index>div{
  width: initial;
  margin: 0 auto;
  display: inline-block;
}
.rota-index{
  text-align: center;
}

.backFormFoto{
  background-color: #fcf8e3;
  padding: 14px;
  border-radius: 10px;
}

#steps .row{
  border-bottom: 1px solid #CBC39B;
  padding: 5px 0px;
}

#steps img{
  max-width: 100%;
}

.fileupload-buttonbar{
  margin:10px 0px;
}

.ponto_historia .vpId,
.ponto_historia .vpAddress,
.ponto_historia .pontoId,
.ponto_historia .locationAddress{
  background-color:lightgray;
  padding: 15px;
  border-radius: 25px;
  margin:2px;
  color: #286090;
}

#instructions{
  margin: 0px 0px;
}

.ponto_historia{
  margin-top:0px
}

.jump2Point{
  background-color: #286090;
  padding: 15px;
  border-radius: 25px;
  margin: 2px;
  color: lightgray;
}

/****************************************************************************************/
/*							               CLEARFIX                                     */
/****************************************************************************************/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#steps .vpFoto{
  margin: auto;
  max-width: 100%;
  max-height: 150px;
  display: block;
  width: auto;
  height: auto;
}

body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
  font-family: 'Convergence';
  font-size: 35px;
  text-align: left;
  letter-spacing: -1px;
  margin: 12px 12px;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}

h3{
  margin:8px 0;
}

h4{
  margin:6px 0;
}

a{
  color: #5588bb;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
}
p.centered{
  text-align:center;
}
#header, #body{
  width:800px;
  margin:0 auto;
}
#body{
  margin:20px auto;
}

#header a{
  color:#000;
}
#header a:hover{
  text-decoration:none;
}

.row{
  margin:24px 0;
}

.btn{
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  margin:0 2px;
  border-radius:3px;
  border-top:#4c82b7 solid 1px;
  border-left:#4c82b7 solid 1px;
  border-bottom:#3e6d9c solid 1px;
  border-right:#3e6d9c solid 1px;
  background:#4477aa;
  background-image: linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -o-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);

  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.5, rgb(59,104,149)),
          color-stop(1, rgb(68,119,170))
  );
}

.popin{
  background:#fff;
  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;
}

ul.gallery{
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
ul.gallery li{
  font-family:'Droid Sans';
  display:inline-block;
  width:30%;
  background:#fff;
  padding:10px 8px;
  margin:4px 1px;
  border-radius:3px;
  border:solid 1px #ddd;
}
ul.gallery li:hover{
  background:#f3f3f3;
}
ul.gallery li a{
  display:block;
}
ul.gallery li h5{
  font-weight:normal;
  margin:0;
  font-size:16px;
}

#map,
#panorama {
  height:500px;
  width:100%;
  background:#6699cc;
}

#sponsors {
  font-size: 12px;
  text-align: center;
  padding: 4px 6px;
}

#sponsors img {
  height: 40px;
  margin: 4px;
}

code {
  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
  font-weight: bold;
}

#left-autohide {
  background-color: white;
}

#rotasearch-descricao{
  max-width:500px;
}

#novaRotaForm .modal-dialog{
  margin-top: 20%;
}

#novaRotaForm input#nomeRota{
  width: 100%;
}


input[type=range]{
  -webkit-appearance: none;
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  /*width: 300px;*/
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 300px;*/
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  /*width: 300px;*/
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

input[type=range]::-ms-track {
  /*width: 300px;*/
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

ul#gmaps_context_menu,ul#gmaps_context_menu ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

ul#gmaps_context_menu li
{
  margin:3px;
  padding: 3px;
}

ul#gmaps_context_menu li:hover
{
  text-decoration: none;
  background-color: #2b542c;
  color:whitesmoke;
}

ul#gmaps_context_menu li a{
  color:inherit;
  text-decoration:none;
}

ul#gmaps_context_menu>li label{
}

ul#gmaps_context_menu>li input{
  color:black;
}



ul#gmaps_context_menu a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

ul#gmaps_context_menu li
{
  position:relative;
//  float:left;
// margin:0;
//padding:0
}

ul#gmaps_context_menu ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

ul#gmaps_context_menu ul>li
{
  /* float:none; */
  width:200px;
  padding: 3px 15px;
}

ul#gmaps_context_menu ul a
{
  line-height:120%;
  padding:10px 15px
}

ul#gmaps_context_menu li:hover ul
{
  display:block;
  left:+50px;
}

#icon-menu
{
  display:block;
  position: fixed;
  left: calc(50% - 100px);
  top:0px;
  height: 100%;
  overflow-y: scroll;
  z-index: 10001;
  background:#fff;
  opacity:1;
  list-style:none;
  margin:0;
  padding:0;
}

#icon-menu li
{
  margin:3px;
  padding: 3px;
}

#icon-menu li:hover
{
  text-decoration: none;
  background-color: #2b542c;
  color:whitesmoke;
}

#icon-menu>li
{
  /* float:none; */
  width:200px;
  padding: 3px 15px;

}

#disableBox{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
  top: 0px;
  opacity: 0.7;
}

.rota-search .form-group{
  display: inline-block;
}

.rota-search .form-group input,.rota-search .form-group button{
  height: 35px;
}
.rota-search .form-group button{
  padding: 0px 7px;
}

.rota-search .form-group label[for="rotasearch-descricao"]{
  display:none;
}

.rota-index>div{
  width: initial;
  margin: 0 auto;
  display: inline-block;
}
.rota-index{
  text-align: center;
}

.backFormFoto{
  background-color: #fcf8e3;
  padding: 14px;
  border-radius: 10px;
}

#steps .row{
  border-bottom: 1px solid #CBC39B;
  padding: 5px 0px;
}

#steps img{
  max-width: 100%;
}

.fileupload-buttonbar{
  margin:10px 0px;
}

.ponto_historia .vpId,
.ponto_historia .vpAddress,
.ponto_historia .pontoId,
.ponto_historia .locationAddress{
  background-color:lightgray;
  padding: 15px;
  border-radius: 25px;
  margin:2px;
  color: #286090;
}

#instructions{
  margin: 0px 0px;
}

.ponto_historia{
  margin-top:0px
}

.jump2Point{
  background-color: #286090;
  padding: 15px;
  border-radius: 25px;
  margin: 2px;
  color: lightgray;
}

/****************************************************************************************/
/*							               CLEARFIX                                     */
/****************************************************************************************/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/******************************/
/* slider                     */
/******************************/
#steps .vpFoto,#map .vpFoto{
  margin: auto;
  max-width: 100%;
  max-height: 150px;
  display: block;
  width: auto;
  height: auto;
}


#map div .flexslider:parent{
  width: 251px;
  height: 184px;
  overflow: hidden;
  position: relative;
}

#map .flexslider{
  max-width: 279px;
  max-height: 156px;
  width: 300px;
  margin: 0px;
  position: relative;
  left: -14px;
}

.modal-transparent .flexslider{
  height: 85%;
}

.modal-transparent .flexslider .slides img.vpFoto {
  width:50%;
  margin:auto;
}

.modal-transparent .flexslider .slides .row{
  position:relative;
}
.modal-transparent .flexslider .slides .vpId,
.modal-transparent .flexslider .slides .vpAddress{
  background-color:lightgray;
  padding: 15px;
  border-radius: 25px;
  margin:2px;
  color: #286090;
  position:relative;
  float:top;
}

.modal-transparent .flexslider .slides  .vpFoto{
  margin:0 25%;
  max-width:50%;
// max-height:100%;
}
.modal-transparent .flexslider .slides img{
  margin:auto;
  width:100%;
  height:100%;
  display:inline-block;
}
.modal-transparent .flexslider .slides .vpHistoria img{
  width:initial;
  height:initial;
  display:inline-block;
}

/* .modal-transparent */

.modal-transparent .modal-dialog,.modal-transparent .modal-dialog .modal-content{
  min-height: 95%;
  max-height: 95%;
  height: 95%;
  width: 100%;
}

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.carousel {
  top: 100px;
  overflow: visible;
  max-height: 500px;
}

.carousel .item{
  /* overflow: visible; */
}

.carousel-inner{
  overflow: visible;
}

.carousel-indicators{
  bottom: -46px;
  width: 100%;
  background: black;
  padding: 6px;
  border-radius: 10px;
  opacity: .5;
  position: absolute;
  left: 30%;
}

.carousel-caption{
  /* top: 6px; */
  width: 100%;
  background: black;
  padding: 6px;
  border-radius: 10px;
  opacity: 0.4;
  position: initial;
  /* left: 0px; */
  /* height: auto; */
  min-height: 116px;
}
.carousel-caption-box {
  position: absolute;
  top: -122px;
  left: 0;
  width: 100%;
  mix-height: 163px;
}
/*  share buttons */
#share-buttons{
  float: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

[contenteditable=true]:hover{
  border-color:transparent;
  border-style: dashed;
  border-width: 1px;
}
[contenteditable=true]:hover{
  border-style: dashed;
  border-width: 1px;
  border-color:black;
}